<div class="container-fluid footer">
  <div class="row my-1 align-items-center">
    <div class="col-md col-4 text-left">
        <img class="img-fluid" src="/assets/images/Logo.png" style="opacity: 0.7;width: 40px"> 
        © Marc Brulard 2018 
    </div>
    <div class="col-md-8 col-4 text-center">
      <a class="mx-2" href="mailto:brulard.marc@gmail.com">Email</a>
      <a class="mx-2" href="https://500px.com/marcbrulard">500px</a>
      <a class="mx-2" href="https://www.youtube.com/channel/UCfbY1rxG-ASpYJOUb-YTtmw">Youtube</a>
      <a class="mx-2" href="https://vimeo.com/marcbrulard">Vimeo</a>
    </div>
    <div class="col-md col-4 text-right">
      Made by Bertrand Samson
    </div>
  </div>
</div>