<div class="container-fluid footer">
  <div class="row mb-3 align-items-center">
    <div class="col text-left">
        <img src="/assets/images/Logo.png" style="max-width: 4vh;opacity: 0.4;">
        © Marc Brulard 2018 
    </div>
    <div class="col-8 text-center">
      <a class="mx-2" href="mailto:brulard.marc@gmail.com">Email</a>
      <a class="mx-2" href="https://500px.com/marcbrulard">500px</a>
      <a class="mx-2" href="https://www.youtube.com/channel/UCfbY1rxG-ASpYJOUb-YTtmw">Youtube</a>
      <a class="mx-2" href="https://vimeo.com/marcbrulard">Vimeo</a>
    </div>
    <div class="col text-right">
      Made by Bertrand Samson
    </div>
  </div>
</div>