.contentpanel{
    background-color: white;    
    color: #1d2a32;
    width: 75%;
    margin-top: 3vh; 
    margin-bottom: 10vh;
}

.description{
    color: #6c6c6c;
    text-align: justify;
    text-indent: 25px;
}

.titre{
    color: #6c6c6c;
    text-align: justify;
    text-indent: 30px;
    font-weight: bold;
}

.midline-height{
    height: 40vh;
}