<div class="menu-container" [@menuTrigger]="menuTrigger()">
  
  <div class="menu-content">
    <div class="container-fluid mx-md-5 p-md-5 mt-4 mb-2 p-2">
      <div class="row">
          <div class="col-md-4">
              <div class="column-header">
                Collections
              </div>
              <div class="column-body">
                <ul>
                  <li>
                    <a href="/home">Aperçu</a>
                  </li>
                  <li>
                    <a href="/alpinism">Devenir Alpiniste</a>
                  </li>
                  <li>                    
                    <a><i>More coming soon...</i></a> 
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-md-4">
              <div class="column-header">
                  <a href="https://500px.com/marcbrulard">Galerie</a>
                </div>
                <div class="column-body">
                  <ul>
                    <li>                    
                      <a><i>Coming soon...</i></a> 
                    </li>
                  </ul>
                </div>
          </div>
          <div class="col-md-4">
              <div class="column-header">
                Films
              </div>
              <div class="column-body">
                <ul>
                  <li>
                    <a href="https://www.youtube.com/watch?v=U5W2bV4YflU">Devenir Alpiniste</a>
                  </li>                  
                  <li>                    
                    <a><i>More coming soon...</i></a> 
                  </li>          
                </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
   
  <div class="menu-footer m-2">

    <div class="container-fluid">

      <div class="row align-items-center">
          <div class="col-md-2"></div>
          <div class="col-md-1 col-6">
            <a href="/biography">Biographie</a>
          </div>
          <div class="col-md-1 col-6">
              <a href="mailto:brulard.marc@gmail.com">Contact</a>
            </div>

          <div class="col-md-1 line">
          </div>

          <div class="col-md-6 col-12 icon-part">
            <a href="https://500px.com/marcbrulard"><i class="fab fa-500px"></i></a>
            <a href="https://www.youtube.com/channel/UCfbY1rxG-ASpYJOUb-YTtmw"><i class="fab fa-youtube"></i></a>
            <a href="https://vimeo.com/marcbrulard"><i class="fab fa-vimeo"></i></a>
          </div>

      </div>
    </div>   
    
  </div>


</div>

