<div class="menu-container" [@menuTrigger]="menuTrigger()">
 
  <div class="menu-content">
    <div class="column w-16">
        <div class="column-header">
          Collections
        </div>
        <div class="column-body">
          <ul>
            <li>
              <a href="/home">Aperçu</a>
            </li>
            <li>
              <a href="/alpinism">Projet Alpinisme</a>
            </li>
          </ul>
        </div>
    </div>

    <div class="column">
      <div class="column-header">
        Galerie
      </div>
      <div class="column-body">
        <i>Coming soon...</i>
        <!-- <ul>
          <li>
            <a>Bike</a>
          </li>
          <li>
            <a>Moutain</a>
          </li>
          <li>
            <a>Flower</a>
          </li>
          <li>
            <a>Ul</a>
          </li>
          <li>
            <a>Origami</a>
          </li>
          <li>
            <a>Gateau</a>
          </li>
        </ul> -->
      </div>
    </div>

    <div class="column w-25">
      <div class="column-header">
        Films
      </div>
      <div class="column-body">
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=U5W2bV4YflU">Devenir Alpiniste</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
    
    
  <div class="menu-footer m-2">

    <div class="container-fluid">

      <div class="row align-items-center">
          <div class="col-sm-3 text-part text-right">
            <a href="/biography">Biographie</a>
            <a href="mailto:brulard.marc@gmail.com">Contact</a>
          </div>

          <div class="col-1 line">
          </div>

          <div class="col-7 icon-part text-left">
            <a href="https://500px.com/marcbrulard"><i class="fab fa-500px"></i></a>
            <a href="https://www.youtube.com/channel/UCfbY1rxG-ASpYJOUb-YTtmw"><i class="fab fa-youtube"></i></a>
            <a href="https://vimeo.com/marcbrulard"><i class="fab fa-vimeo"></i></a>
          </div>

          <div class="col-1">
            <img src="/assets/images/Logo.png" style="max-width: 8vh;opacity: 0.4;">
          </div>

      </div>
    </div>   
    
  </div>


</div>

