<div class="container-fluid contentpanel">

    <!-- <div class="row row-spacing row-height">

        <div class="col-1"></div>

        <div class="col-4 align-self-start">
            <img src="/assets/images/photos/CanyonUnderTree.jpg" class="img-fluid">
            
            <p class="title">
                <a>Canyon Corridor</a>
            </p>
        </div>

        <div class="col-1"></div>

        <div class="col-4 align-self-center">
            <p class="description">
                <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i class="fas fa-quote-right"></i>
            </p>
        </div>

    </div>

    <div class="row row-height">

        <div class="col-5 align-self-center">
            <img src="/assets/images/photos/Bivouac.jpg" class="img-fluid">
            <p class="title">
                <a>Bivouac</a>
            </p>
        </div>
        
        <div class="col-2"></div>

        <div class="col-4">
            <img src="/assets/images/photos/Ecrins.jpg" class="img-fluid">
            <p class="title">
                <a>Alpinism</a>
            </p>
        </div>     

    </div>

    <div class="row row-height">

        <div class="col-1"></div>

        <div class="col-10 align-self-start">
            <p class="description">
                <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i class="fas fa-quote-right"></i>
            </p>
        </div>
        
        <div class="col-1"></div>
    
        <div class="col-12 align-self-start">
            <img src="/assets/images/photos/Landmannalaugar.jpg" class="img-fluid">
            <p class="title">
                <a>Panorama</a>
            </p>
        </div>

    </div> -->


    <div class="row text-center">
        <div class="col-1"></div>
        <div class="col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid" src="/assets/images/photos/CanyonUnderTree.jpg"> 
            </a>
        </div>
        <div class="col-1"></div>
        <div class="col-4 align-self-center">
            <p class="description">
                <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i class="fas fa-quote-right"></i>
            </p>
        </div>
        <!-- ||||||||||||||||| -->
        <div class="col-5">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid" src="/assets/images/photos/Bivouac.jpg"> 
            </a>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid" src="/assets/images/photos/Ecrins.jpg"> 
            </a>
        </div>         
        <div class="col-1"></div>
        <!-- ||||||||||||||||| -->
        <div class="col-1"></div>
        <div class="col-10 align-self-center">
            <p class="description">
                <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i class="fas fa-quote-right"></i>
            </p>
        </div>        
        <div class="col-1"></div>
        <!-- ||||||||||||||||| -->
        <div class="col-12">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid" src="/assets/images/photos/Landmannalaugar.jpg"> 
            </a>
        </div> 
    </div>

</div>