<div class="container-fluid biography">

     <div class="mx-5 p-5">
        <div class="row align-items-center">
            <!-- ||||||||||||||||| -->
            <div class="col-12 mb-4 animation-1">
                <h1>Biographie</h1>
            </div>
            <!-- ||||||||||||||||| -->
            <div class="col-1"></div>
            <div class="col-4">
              <a class="d-block mb-4 h-100 animation-1">
                  <img class="img-fluid" src="/assets/images/photos/biography/MarcPlan1.jpg"> 
              </a>
            </div>
            <div class="col-6 text-bio animation-2">
              Né en 1989 à Rouen, l’image occupe depuis mon plus jeune âge une plus de premier rang dans mes occupations. Vidéo, photo, dessin et graphisme sont autant d’outils que j’aime mettre au service de ma passion : raconter une histoire.
            </div>
            <div class="col-1"></div>
            <!-- ||||||||||||||||| -->
            <div class="col-1"></div>
            <div class="col-10 text-bio animation-2">
              L’arrivée des caméras GoPro, amenant soudainement la haute définition sur le marché grand public, marquera un tournant dans ma vie de vidéaste. Pendant plusieurs années, c’est à l’aide de ces petites caméras que je réaliserai de nombreuses vidéos de sport outdoor, support intarissable d’aventures propices au récit. A plusieurs reprises, mes vidéos seront remarquées par GoPro et profiteront ainsi d’une grande visibilité, m’encourageant à produire du contenu de qualité toujours croissante.
            </div>
            <div class="col-1"></div>
            <!-- ||||||||||||||||| -->
            <div class="col-2"></div>
            <div class="col-5 text-bio animation-2">
                Cette quête de l’excellence m’amènera, plus tard, à délaisser le monde des caméras embarquées pour m’intéresser aux appareils photos relfex et hybrides. La qualité d’image époustouflante proposée par ces appareil rivalise avec les caméras haut de gamme. Relativement compacts, ces appareils me permettent une grande flexibilité dans la réalisation de mes vidéos. La progression rapide connue ces dernières années, en particulier avec l’arrivée de la 4K, m’a permis de porter mes réalisation à un excellent niveau de qualité.
            </div>
            <div class="col-4">
                <a class="d-block mb-4 h-100 animation-1">
                    <img class="img-fluid" src="/assets/images/photos/biography/MarcPlan2.jpg"> 
                </a>
            </div>
            <div class="col-1"></div>
            <!-- ||||||||||||||||| -->
            <div class="col-5">
                <a class="d-block mb-4 h-100 animation-1">
                    <img class="img-fluid" src="/assets/images/photos/biography/MarcPlan4.jpg"> 
                </a>
            </div>
            <div class="col-7 text-bio animation-2">
                Mon travail, d’abord apprécié par mon entourage direct, a ainsi commencé à gagner en visibilité. Par le bouche à oreille dans un premier temps, des clients potentiels se sont manifestés. Finalement, en 2018, c’est naturellement que je franchis le pas en démarrant mon activité de vidéaste freelance.
            </div>
            <!-- ||||||||||||||||| -->
            
        </div>
     </div>
    

</div>