<div class="container-fluid intro"
    in-view (inview)="isDarkScreen($event)"  
    [offset]="[0, 0, -50, 0]">

    <video class="video" autoplay loop playsinline muted>
        <source src="/assets/images/video/BandeauAlpi1280x500.mp4" type="video/mp4">
    </video>

    <div class="arrow-d" *ngIf="!isOnLightScreen">    
        <a [scrollTo]="'#apercu'" [scrollDuration]="700">
            <i class="fas fa-arrow-down"></i>
        </a>    
    </div> 
</div>

<div class="container-fluid" id="apercu"
    in-view (inview)="isLightScreen($event)"  
    [offset]="[0, 0, 0, 0]">
    <div class="row text-center mt-5">        
        <!-- ||||||||||||||||| -->
        <div class="col-md-1"></div>
        <div class="col-md-4 align-self-center text-center description transition-easeout opacity-0" 
              [ngClass]="{'opacity-1': rowInView[0]}"
              in-view (inview)="animateRow($event, 0)">
            Comment devient-on alpiniste ? Nombreux sont les amoureux de la montagne qui, un jour ou l’autre, se posent cette question. 
            
        </div>
        <div class="col-md-5">
            <a href="#" class="d-block my-4 h-100 transition-easeout transition-delay opacity-0" 
                  [ngClass]="{'opacity-1': rowInView[0]}">
                <img class="img-fluid" src="/assets/images/photos/Crete.jpg"> 
            </a>
        </div>
        <div class="col-md-2"></div>
        <!-- ||||||||||||||||| -->        
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a href="#" class="d-block my-4 h-100 transition-easeout opacity-0" 
            [ngClass]="{'opacity-1': rowInView[1]}"
            in-view (inview)="animateRow($event, 1)">
                <img class="img-fluid" src="/assets/images/photos/SnowFall.jpg"> 
            </a>
        </div>
        <div class="col-md-3 align-self-center description transition-easeout transition-delay opacity-0" [ngClass]="{'opacity-1': rowInView[1]}">
            Lorsque le terrain devient vertical, que le sommet convoité semble inaccessible, l’apprentissage de nouvelles techniques est nécessaire.
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <!-- ||||||||||||||||| -->
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        
        <div class="col-md-3 align-self-center description transition-easeout opacity-0" 
              [ngClass]="{'opacity-1': rowInView[2]}"
              in-view (inview)="animateRow($event, 2)">
            « Devenir Alpiniste » prend comme toile de fond la formation proposée chaque année par Guides06.
        </div>
        <div class="col-md-4">
            <a href="#" class="d-block my-4 h-100 transition-easeout transition-delay opacity-0" [ngClass]="{'opacity-1': rowInView[2]}">
                <img class="img-fluid" src="/assets/images/photos/WalkingSnow.jpg"> 
            </a>
        </div>
        <div class="col-md-1"></div>
        <!-- ||||||||||||||||| -->
        <div class="col-md-1"></div>
        <div class="col-md-7">    
            <a href="#" class="d-block my-4 h-100 transition-easeout opacity-0" 
            [ngClass]="{'opacity-1': rowInView[3]}"
            in-view (inview)="animateRow($event, 3)">
                <img class="img-fluid" src="/assets/images/photos/IcyWaterfall.jpg"> 
            </a>
        </div>
        <div class="col-md-3 align-self-center description transition-easeout transition-delay opacity-0" [ngClass]="{'opacity-1': rowInView[3]}">          
            Guidés par les explications de Stéphane Benoist, guide de haute montagne et alpiniste de renommée internationale, vous suivrez un groupe d’alpinistes dans leur évolution. 
        </div>
        
        <div class="col-md-1"></div>
        <!-- ||||||||||||||||| -->
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-5 mb-3 description transition-easeout opacity-0" 
              [ngClass]="{'opacity-1': rowInView[4]}"
              in-view (inview)="animateRow($event, 4)">    
            De l’apprentissage des techniques de base jusqu’à l’autonomie, leur parcours vous emmènera à la découverte de magnifiques itinéraires dans nos massifs alpins, 
            français et italiens.
        </div>
        <div class="col-md-2"></div>
      <!-- ||||||||||||||||| -->
      <div class="col-md-2"></div>
      <div class="col-md-8 mt-3 mb-5 transition-easeout transition-delay opacity-0" [ngClass]="{'opacity-1': rowInView[4]}">
          <iframe 
            class="video video-height"
            src="https://www.youtube.com/embed/U5W2bV4YflU" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
      </div>
      <div class="col-2"></div>
      <!-- ||||||||||||||||| -->
    </div>
</div>


